@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 900px;
}

header {
  width: 100%;
  box-sizing: border-box;
}

.logo {
  margin: 10px;
  padding: 10px;
  background-color: #E4E4E4;
  border-radius: 5px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.logo > span {
  font-size: 36px;
}
.logo > span:nth-child(3) {
  font-size: 18px;
}

/* Pop-List Styles */
#poplist-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#poplisting {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
}

#poplist-wrapper > h3 {
  text-align: center; 
}

.pop-entry-item {
  margin: 10px;
  padding: 12px 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #E4E4E4;
  border-radius: 3px;
}

.popentry-img {
  margin: 10px;
  width: 150px;
}

.popentry-img > img {
  width: 100%;
}

.popentry-info, .popentry-personal-info {
  display: flex;
  width: 100%;
}

.popentry-personal-info {
  font-size: 14px;
}

.popentry-desc {
  margin: 10px;
  text-align: left;
  flex: 1;
}

.popentry-timeline {
  font-size: 14px;
}

.popentry-item-about {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.popentry-type-badge {
  margin: 0px 3px;
  padding: 1px 4px;
  border-radius: 3px;
  background-color: #333333;
  color: #ffffff;
  font-size: 12px;
}

.popentry-subtext {
  font-size: 13px;
}

.badge-complete {
  background: #B3D948;
  color: #333;
}

.badge-ongoing {
  color: #333;
  background-color: #D97D2C;
}

.popentry-item-rating {
  width: 150px;
  font-size: 14px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 4px 8px;
  background: #ffffff;
}

.popentry-viewstatus {
  margin: 0px 3px;
  padding: 3px 5px;
  border: 1px solid #333;
  border-radius: 3px;
}

#searchBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#searchArea {
  width: 98%;
  padding: 8px 12px;
  border: 1px solid #CCC;
  border-radius: 3px;
}

#searchResult {
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.resultImg {
  width: 100px;
}

.resultImg > img {
  width: 100%;
  height: auto;
}

.resultInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
}
.resultInfo > p {
  font-size: 13px;
}
.addToMyList {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #6BBF59;
  border: 1px solid #CCC;
  border-radius: 6px;
  outline: none;
  padding: 10px 15px;
  margin: 10px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}
.plusSymbol {
  font-weight: 900;
  font-size: 45px;
}
.modalBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}
.modal {
  background-color: #ffffff;
  border: 1px solid #CCC;
  border-radius: 5px;
  max-width: 500px;  
  max-height: 300px;
  margin: 0 auto;
  padding: 30px;  
}

.btn {
  margin: 5px 10px;
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 3px; 
  color: #ffffff;
  cursor: pointer;
}

.addItemBtn {
  background-color: #4DC779;
}

.cancelItemBtn {
  background-color: #DE262A;
}

.addModalBody {
  margin: 5px 0 0 0;
  width: 100%;
  font-size: 13px;
}

.inpField {
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 3px 5px;
  width: 220px;
  font-size: 12px;
}